In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [21]:
mart_run = pd.read_csv('AnalysisRun_20230301-20230331_Q8qmsBk4zBZNdarLs7q1SvfN.csv')
mart_run =mart_run.drop(['PID', 'robotMAC','Start running time','unbound','Time'],axis = 1)
mart_run.columns

Index(['Product name', 'Store', 'Operating time (h)', 'Running mileage (km)',
       'Number of tasks'],
      dtype='object')

In [23]:
mart_run = mart_run.groupby(['Store','Product name']).sum()

display(mart_run)

                                    Operating time (h)  Running mileage (km)  \
Store                 Product name
Baltiya Hotel         kettybot                  262.83                  1.65
Chajhana hariba       bellabot                    4.45                  9.17
Firemakers            bellabot                   64.03                 70.15
Flagman office        bellabot                    8.68                  8.57
Fun Jump              bellabot                   52.21                 55.49
Fun Jump Kazan        bellabot                   36.12                 25.74
Gastreet_panorama     bellabot                   80.69                 72.93
                      pudubot                     0.71                  0.49
Jango Park            bellabot                   16.62                 13.78
Neo                   kettybot                   23.18                 14.69
Parmesan              bellabot                  127.93                 87.35
                      kettybot                   20.03                 14.42
Perchini              bellabot                   33.36                 34.32
Sber Univercity       bellabot                  144.22                 16.30
Soft-Stend            bellabot                  111.65                 82.60
Soft-servis           bellabot                  179.54                186.94
Velich                bellabot                    2.62                  2.25
АРТ-Премиум           bellabot                    7.08                  1.72
Деревенское Молочко   kettybot                    0.02                  0.01
Динозаврия            bellabot                   32.11                 25.04
                      kettybot                    0.25                  0.04
Компот                bellabot                   52.06                 39.75
Ресторан ГрильХаус    bellabot                   19.41                 17.73
Санаторий Заполярье   pudubot                    23.14                  2.65
Фанджамп Екатеринбург bellabot                   53.66                 64.15
Чайхана PLOV          bellabot                    2.27                  2.28

                                    Number of tasks
Store                 Product name
Baltiya Hotel         kettybot                  176
Chajhana hariba       bellabot                   71
Firemakers            bellabot                 4718
Flagman office        bellabot                  469
Fun Jump              bellabot                 1927
Fun Jump Kazan        bellabot                 1164
Gastreet_panorama     bellabot                 2138
                      pudubot                    28
Jango Park            bellabot                  613
Neo                   kettybot                 1834
Parmesan              bellabot                 5870
                      kettybot                 1166
Perchini              bellabot                 1740
Sber Univercity       bellabot                  880
Soft-Stend            bellabot                 5297
Soft-servis           bellabot                 6267
Velich                bellabot                  151
АРТ-Премиум           bellabot                  226
Деревенское Молочко   kettybot                    2
Динозаврия            bellabot                  985
                      kettybot                   31
Компот                bellabot                 3981
Ресторан ГрильХаус    bellabot                 1097
Санаторий Заполярье   pudubot                     3
Фанджамп Екатеринбург bellabot                 1296
Чайхана PLOV          bellabot                   88

In [24]:
mart_run2 = pd.read_csv('AnalysisRun_20230301-20230331_Q8qmsBk4zBZNdarLs7q1SvfN.csv')
mart_run2 = mart_run2.drop(['Time','PID','robotMAC','Start running time', 'unbound'],axis=1)
mart_run2 = mart_run2.groupby(['Store']).sum()
mart_run2.head()

C:\Users\Massengrab\AppData\Local\Temp\ipykernel_7428\2766488511.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mart_run2 = mart_run2.groupby(['Store']).sum()

                 Operating time (h)  Running mileage (km)  Number of tasks
Store
Baltiya Hotel                262.83                  1.65              176
Chajhana hariba                4.45                  9.17               71
Firemakers                    64.03                 70.15             4718
Flagman office                 8.68                  8.57              469
Fun Jump                      52.21                 55.49             1927

In [19]:

mart_run2.to_excel('Mart_run.xlsx')

In [28]:
sns.barplot(data = mart_run2, x ='Store', y = 'Operating time (h)')

ValueError: Could not interpret input 'Store '