In [5]:
import numpy as np
import pandas as pd
mrt_run_data  = pd.read_csv('AnalysisRun_20230301-20230331_Q8qmsBk4zBZNdarLs7q1SvfN.csv')

In [8]:

mrt_run_data.drop(['PID','unbound','Start running time'], axis= 1)

,Time,Product name,robotMAC,Store,Operating time (h),Running mileage (km),Number of tasks
0,2023-03-31,bellabot,20:50:E7:23:71:74,Ресторан ГрильХаус,0.58,0.61,42
1,2023-03-31,bellabot,20:50:E7:02:FD:68,Perchini,1.07,1.16,55
2,2023-03-31,bellabot,20:50:E7:23:3D:AA,Soft-servis,1.26,1.22,122
3,2023-03-31,bellabot,20:50:E7:02:C0:F2,Soft-servis,3.02,3.09,58
4,2023-03-31,bellabot,D4:12:43:B0:D5:68,Gastreet_panorama,0.36,0.25,11
...,...,...,...,...,...,...,...
951,2023-03-01,bellabot,20:50:E7:02:FD:68,Perchini,0.94,0.99,51
952,2023-03-01,bellabot,20:50:E7:23:71:74,Ресторан ГрильХаус,0.05,0.08,7
953,2023-03-01,bellabot,20:50:E7:23:79:E8,Flagman office,0.54,0.48,25
954,2023-03-01,bellabot,20:50:E7:02:EB:56,Компот,0.81,0.67,67
955,2023-03-01,bellabot,20:50:E7:02:24:2A,Parmesan,1.87,1.13,87

In [10]:

sum_mrt_run_data = mrt_run_data.copy
mean_mrt_run_data = mrt_run_data.copy

sum_mrt_run_data  = sum_mrt_run_data.groupby()

AttributeError: 'function' object has no attribute 'groupby'